.col-container{
   border-radius: 15px;
   box-shadow: 10px 10px 20px lightgrey,-10px -10px 10px white;
   padding: 20px;
}
.todo-col,.inProg-col, .complete-col{
    min-height: 600px;
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    box-shadow: 10px 10px 10px lightgrey,-3px -3px 5px white;
    border-radius: 10px;
}
   