.col-container{
   display: flex;
   border: 2px solid black;
   padding: 20px;
}
.todo-col,.inProg-col, .complete-col{
    min-height: 600px;
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
}
